

<!-- <div class="po-markup">
      <br>
        <a href="http://cnn.com" class="po-link">cnn.com</a>
        ←  popover with favicon and HTML coded site information.

        <div class="po-content hidden">
          <div class="po-title">
            <img src="http://g.etfv.co/http://www.cnn.com" alt="Google" width="16" height="16" />
            CNN News
            </div> 
            
            <div class="po-body">
              <p>
                  CNN.com is among the world's leaders in online news and information delivery. Staffed <strong>24 hours </strong>, seven days a week by a dedicated staff in CNN's world headquarters in Atlanta, Georgia, and in bureaus worldwide.
              </p>
              
              </div>
              </div>
        </div> -->


<div  id="container_tasks" class="panel-postit postit" data-id="<%= task.id %>" >
	<div class="<%='postit1' if task.state == "doing"%><%='postit2 ' if task.state == "to_do"%> 
		<%='postit4' if task.state == "done"%> <%='postit3' if task.public == true %>">
		<%= link_to "x", task_path(task), method: :delete, class: "pull-right" %>
		<div class="panel-postit">
			<div class="postit-heading">
				<h3 class="pull-left"> <div class="fixe"></div>
					 <% if task.public == true %>
					 <i class="fa fa-lock"></i>
					 <% end -%>
					 <%= task.content %> <%= link_to edit_task_path(task) do %>
					<i class="fa fa-pencil"></i>
					<% end %> <br>
					<span class="tempo  pull-left"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(task.created_at) %> 
					</span> 
					<span class="tempo  pull-right"><i class="fa fa-clock-o"></i> <%= 'Atualizado' if task.updated_at %> <%= time_ago_in_words(task.updated_at) if task.updated_at %>
					</span>
				</h3>
				<span class="pull-right clickable"><i class="fa fa-chevron-up"></i></span>
			</div> 
		</div> 
		<div class="postit-body">
			<div class=" task-time task-time-<%= task.id %>">  <%= format_logged(task.logged) %></div> 
			
			<ul class="nav nav-tabs">
				<li class="active"  ><a href="#<%= task.id %>" data-toggle="tab">Subtarefa</a></li>
				<% if task.descricao.present? or task.url.present? %>
				<li class=""><a href="#<%= raw(task.id) %><%= raw(current_user.id) %>" data-toggle="tab">Anotações</a></li>
				<% end -%>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="<%= raw(task.id) %>">
					<div  class="">
						
						<!-- link_to 'delete task', tasks_path(id: @task.id, format: 'js'), class: 'task-delete', remote: true, method: :delete %> -->
						<% unless task.state == "done" %>
						<div class="subtask-create">

							<%= form_tag('/subtasks', method: :post, remote: true) do %>
							<%= text_field_tag(:name, nil, placeholder: 'Subtarefa', class: "form-control", required: 'true') %>
							<!-- text_field_tag(:task_id, "#{@to_do.empty? ? 0 : @to_do.first.id}") %> -->
							<%= hidden_field_tag :task_id, task.id %>
							<% end -%>
						</div> 
						<% end -%>

						<div class="taskpane-<%= task.id %>" id="taskpane-<%= task.id %>">
							<%=  render task.subtasks %> 
						</div>

					</div> 
				</div>

				<% if task.descricao.present? or task.url.present? %>
				<div class="tab-pane " id="<%= raw(task.id) %><%= raw(current_user.id) %>">
					<div  class="">
						<p class="<%= "texto" if task.descricao.length > 144 %>" > <%= raw(task.descricao) %></p>
					<% if task.url.present? %>	
						<%= link_to task.url, target: "_blank" do %>
							<i class="fa fa-external-link"></i>
						<% end %> 
					<% end -%>
					</div> 
				</div>
				<% end -%>
			</div>

			<div  class=" text-center">
				<% if task.state == "doing" %>
				<div>
					<div class="btn-group btn-group-justified">
						<%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "to_do"), method: :put, class: "btn btn-info btn-md btn-block" %>
						<%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "done"), method: :put, class: "btn btn-info btn-md btn-block" %>
					</div>
				</div>
				<% elsif task.state == "done" %>
				<%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, class: "btn btn-info btn-md btn-block" %>
				<% else %>
				<%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, class: "btn btn-info btn-md btn-block" %>

				<% end %>

			</div>
		</div> 
	</div> 
</div> 

