    <tr>
      <td>
         <b><%= task.content %></b> <br>
         <p><%= task.descricao %></p>
      
      <% if task.url.present? %>  
      <div class="input-group">
        <input type="text" class="form-control" placeholder="<%= task.url %>" aria-describedby="basic-addon2"  value="<%= task.url %>">
        <span class="input-group-addon" id="basic-addon2">
          <%= link_to task.url, target: "_blank" do %>
          <i class="fa fa-external-link"></i>
          <% end -%>
        </span>
      </div>
      <% end -%>
    </td>
    <td> 
      <% if task.state == "done" %>
      <span class="label label-success">Finalizado</span>
      <% elsif task.state == "doing" %>
      <span class="label label-warning">Fazendo</span>
      <% else  %>
      <span class="label label-danger">Fazer</span>
      <% end %> <br>


    </td>
    <td>
      <ol id="selector">
        <% task.subtasks.each do |subtask| %>
        <div class="subtask-title">
            <% if subtask.work?  %>
            <span class="icon"><i class="laranjaicon fa fa-refresh fa-spin"></i></span>
            <% elsif subtask.complete? %>
            <span class="icon "><i class="verdeicon fa fa-check fa-1x"></i></span>
            <% else %>
            <span class="icon">&#9417;</span>
            <% end %> 
            <span><%= subtask.name %> </span>
            <% if !subtask.logs.empty? %>
            <!-- <span class="show-logs">&#8609;</span> -->
            <% end %>
        <div class="subtask-logs logs-<%=subtask.id %>">
          <%= render subtask.logs %>
        </div>
        </div>
        <% end -%>
      </ol>
    </td>

    <td>
      <%= time_ago_in_words(task.updated_at) %>
    </td>
    <td>
      <%= time_ago_in_words(task.created_at) %>
    </td>