<div class="branco">

  <div class="col-md-2">
    <div class="row">
      <%= render "layouts/menu_lateral" %> 
    </div>
  </div>

  <div class="col-md-10">
    
     <div class="row ">
    <div class="col-md-3 items ">
      <div class="col-md-12 quadro meio vermelhocor">
        <h4>Fazer  <%= @to_do.size  %> <i class="fa fa-list"></i></h3>
      </div>
    </div>

    <div class="col-md-3 items">
      <div class="col-md-12 quadro meio amarelocor">
        <h4>Fazendo <%= @doing.size  %> <i class="fa fa-refresh fa-spin"></i></h3>
      </div>
    </div>

    <div class="col-md-3 items">
      <div class="col-md-12 quadro meio azulcor">
        <h4>Finalizado <%= @done.size  %> <i class="fa fa-check"></i></h3>
      </div>
    </div>
    <div class="col-md-3 items">
      <div class="col-md-12 quadro meio verdecor">
        <h4>Total <%= @user.tasks.public_tasks.size %> <i class="fa fa-sort-amount-desc"></i></h3>
      </div>
    </div>
  </div>
  
  
  <div class="row searchable-container">
    <% @user.tasks.order("created_at desc").each do |task| %>  
    <% if task.public == false %>
    <div class="col-md-12 ">
      <div class="panel-postit panel items 
      <%='amarelo2borda' if task.state == "doing"%> <%='vermelhoborda' if task.state == "to_do"%>
      <%='azulborda' if task.state == "done"%>   ">
      <div class="postit-heading panel-heading">
        <span class=" clickable">
          <h3 class="panel-title"><%= task.content %> 
          
          </h3> 
            <div class="datas">Criado <%= time_ago_in_words(task.created_at) %> Atualizado <%= time_ago_in_words(task.updated_at) %>
              <% if task.subtasks.size > 0 %>
                <span class='label label-info'> <%= task.subtasks.size %> Subtarefas <span class="show-logs">&#8609;</span></span>
              <% end -%>
            
              </div>
         <span class="pull-right"> <i class=" fa fa-chevron-down"></i></span>
        </span>
        </div>
        <div class="postit-body" style="display: none;">
          <p><%= task.descricao %></p>
           <% unless task.subtasks.empty? %> 
          <h4>Subtarefas </h4>  
          <ul id="selector">
            <% task.subtasks.each do |subtask| %>
            <div class="subtask-title">
              <% if subtask.work?  %>
              <span class="icon"><i class="laranjaicon fa fa-refresh fa-spin"></i></span>
              <% elsif subtask.complete? %>
              <span class="icon "><i class="verdeicon fa fa-check fa-1x"></i></span>
              <% else %>
              <span class="icon">&#9417;</span>
              <% end %> 
              <span><%= subtask.name %> <%= subtask.created_at %> </span>
              <% if !subtask.logs.empty? %>
              <!-- <span class="show-logs">&#8609;</span> -->
              <% end %>
              <div class="subtask-logs logs-<%=subtask.id %>">
                <%= render subtask.logs %>
              </div>
            </div>
            <% end -%>
          <% end -%>
          </ul>
 
          <% if task.url.present? %>  
         <div class="input-group">
          <input type="text" class="form-control" placeholder="<%= task.url %>" aria-describedby="basic-addon2"  value="<%= task.url %>">
          <span class="input-group-addon" id="basic-addon2">
            <%= link_to task.url, target: "_blank" do %>
            <i class="fa fa-external-link"></i>
            <% end -%>
          </span>
        </div>
        <% end -%>
          
          
        </div>
      </div>
    </div>
    <% end %>
    <% end -%>
  </div>
  

</div>


